<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Gabriel">
  <title>Controle de Pedidos</title>

  <!-- Bootstrap core CSS-->
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Angular -->
  <script src="./vendor/angular/angular.min.js"></script>
  <script src="./vendor/angular/angular-locale_pt-br.js"></script>
  <!-- Controller -->
  <script src="./controllers/controller.js"></script>
</head>

<body>

  <div style="padding: 20px">
    <a href="\pedidos">Pedidos</a>
    <br/>
    <a href="\materias_primas">Matérias Primas</a>
  </div>

</body>

</html>